* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
    color: #686868;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    width: 640px;
}

ol,
ul,
li {
    list-style: none;
}

.slider-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-container ul.slider {
    width: 1000%;
}

.slider-container ul.slider li {
    width: 10%;
    float: left;
    margin-left: -10%;
}

.slider-container ul.slider li a img {
    width: 100%;
    /*height: auto;*/
}

.slider-container ul.slider li:first-child {
    margin-left: 0;
}

.slider-container ul.dot {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50%;
}

.slider-container ul.dot li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.slider-container ul.dot li {
    text-indent: -1000px;
    width: 8%;
    margin: 0 3px;
    height: 4px;
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.slider-container ul.dot li.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.wrap {
    background-color: #edfbff;
}





.pagination {
    display: flex;
}

.pagination li {
    padding: 10px 5px;
}

.pagination .active a {
    color: #666;
    text-decoration: none;
}






.alert-danger {
    color: red;
}