*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, html {
  position: relative;
  height: 100%;
  font-family: "Hiragino Sans GB W3", Roboto, "Helvetica Neue", "微软雅黑", arial, sans-serif;
  color: #666;
  font-size: 62.5%;
  line-height: 1.4; }

body {
  font-size: 1rem;
  background-color: #f5f5f5; }

a {
  color: #449dff; }

hr {
  border: none;
  border-top: 1px solid #f5f5f5;
  border-bottom: 0;
  margin: 1rem 0; }

.container {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  background-color: #f5f5f5; }

.wrapper {
  position: relative;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: transform 0.25s ease, opacity 0.25s ease; }

.page.active {
  opacity: 1;
  z-index: 1;
  transform: translateX(0); }

.main {
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: url(../images/login-bg.jpg) center center no-repeat;
  background-size: cover;
  font-size: 1.4rem; }

.tab {
  position: absolute;
  top: 15%;
  left: 3rem;
  right: 3rem; }
  .tab .tab-nav {
    margin-bottom: 6rem; }
  .tab .item {
    color: #fff;
    opacity: 0.54; }
  .tab .active .item {
    opacity: 0.87;
    border-bottom: 1px solid #fff; }
  .tab .form-control {
    position: relative; }
    .tab .form-control input {
      display: block;
      width: 100%;
      height: 3.4rem;
      padding: 0.6rem 1.2rem;
      font-size: 1.4rem;
      line-height: 1.42857;
      color: #fff;
      margin-bottom: 0.5rem;
      background-color: transparent;
      background-image: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #f5f5f5;
      border-radius: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: all 0.25s ease-in-out; }
      .tab .form-control input:focus {
        border-bottom: 1px solid #3CC8B4; }
    .tab .form-control .message {
      padding: 0 1.2rem;
      visibility: hidden; }
      .tab .form-control .message.error {
        visibility: visible;
        color: #f44336; }
  .tab .send-code {
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    right: 3px;
    top: 3px;
    line-height: 1;
    border: 1px solid #f5f5f5;
    background-color: rgba(255, 255, 255, 0.54); }
  .tab .submit {
    height: 4rem;
    padding: 0;
    margin-top: 2rem;
    line-height: 4rem; }

.oauth {
  position: absolute;
  top: auto;
  left: 3rem;
  right: 3rem;
  bottom: 5rem;
  color: #fff; }
  .oauth .title {
    opacity: 0.87;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    margin: 0 0 2rem 0;
    overflow: hidden; }
    .oauth .title span {
      position: relative; }
      .oauth .title span:before {
        content: '';
        position: absolute;
        left: -110%;
        width: 100%;
        top: 50%;
        border-top: 1px solid #f5f5f5; }
      .oauth .title span:after {
        content: '';
        position: absolute;
        left: 110%;
        width: 100%;
        top: 50%;
        border-top: 1px solid #f5f5f5; }
  .oauth ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .oauth li {
    display: table-cell;
    width: 1%;
    text-align: center; }
  .oauth .item {
    opacity: 0.87;
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    color: #fff;
    font-family: icomoon;
    text-decoration: none;
    line-height: 3.5rem;
    font-size: 2rem; }
  .oauth .baidu {
    background-color: #629efb; }
    .oauth .baidu:after {
      content: '\e900'; }
  .oauth .qq {
    background-color: #66c5fd; }
    .oauth .qq:after {
      content: '\f1d6'; }
  .oauth .weibo {
    background-color: #fc6869; }
    .oauth .weibo:after {
      content: '\f18a'; }
  .oauth .qqweibo {
    background-color: #0e9fbd; }
    .oauth .qqweibo:after {
      content: '\e90b'; }
  .oauth .wechat {
    background-color: #69d672; }
    .oauth .wechat:after {
      content: '\f1d7'; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none; }
  .btn:focus, .btn:active:focus, .btn.active.focus, .btn .focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn .focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn .active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn .disabled, .btn [disabled] {
    cursor: not-allowed;
    box-shadow: none;
    filter: alpha(opacity=65);
    opacity: 0.65; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

.btn-primary {
  color: #fff;
  background-color: #ff5400;
  border-color: #ff5400; }

.btn-primary:hover, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #ff5400;
  border-color: #ff5400; }

@media screen and (max-height: 479px) {
  .oauth {
    display: none; }
 }

/*# sourceMappingURL=styles.css.map */